<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BBu</title>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/hhover.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-lemon">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home'%}">맛집bbu수기</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
              
            <li class="nav-item">
              <a class="nav-link" href="#">마포구</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'songpa'%}">송파구</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'jongro'%}">종로구</a>
            </li>
            
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <br />
      <div class="row">
        <div class="alert text-center bg-yellow" role="alert">
          <strong>써뇽</strong>의 맛집리뷰💨
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 25rem">
            <img
              src="../static/image/통인시장.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="text-center">[서촌] 통인시장🍱</h3>
              <p class="card-text text-center">
                여러분! 데이트 코스로는 <strong>통인시장</strong>이 최고쥬😍<br />여기는
                <strong>엽전</strong>으로만 음식을 살 수 있답니다😲
                <strong>도시락</strong>에 먹고 싶은 것들 가득 담아 보세유<br />기름
                떡볶이가 젤 유명해요🍡
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 25rem">
            <img
              src="../static/image/르블란서2.png"
              class="card-img-top"
              alt="..."
            />

            <div class="card-body">
              <h3 class="text-center">[익선동] 르블란서🥩</h3>
              <p class="card-text text-center">
                <strong>항정살 스테이크</strong> 안먹어본 사람 다 모여~!<br />입에
                넣자마자 살르랄락 녹아욤😋<br />사진엔 없지만 칰킨도
                맛있어요🍗<br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 25rem">
            <img
              src="../static/image/다운타우너 안국.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="text-center">[안국역] 다운타우너 안국🍔</h3>
              <p class="card-text text-center">
                <strong>수제버거</strong> 좋아하시나요❓<br />전 서울의 수제버거
                가게들을 <br />찾아다니는게 취미인데요🍔<br />빵, 패티, 거기다
                놓칠 수 없는 <strong>감튀🍟🍟</strong>까지❗❗ <br />당장
                가세요💙
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 25rem">
            <img
              src="../static/image/노티드.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="text-center">[안국] 노티드🍩</h3>
              <p class="card-text text-center">
                세상에 노티드 모르는 사람도 있다구요❗❓⏰<br /><strong
                  >웨이팅</strong
                >은 기본😅😅 <br />달달 수혈하려면
                <strong>노티드 도넛</strong> 하세요🥰
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 25rem">
            <img
              src="../static/image/냉모밀.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="text-center">[광화문] 미진🍜</h3>
              <p class="card-text text-center">
                곧 뜨거운 여름이 다가와요🌞 <br />뜨거운 여름을 식혀줄
                <strong>냉모밀❗❕</strong> <br /><strong>돈까스 추가</strong>는
                필수입니다요😏😏<br /><strong>8️⃣0️⃣년</strong> 넘는 전통을
                자랑하는 <br /><strong>미진</strong>으로 냉모밀 먹으러 가요🏃‍♀️<br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 25rem">
            <img
              src="../static/image/정돈.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="text-center">[혜화] 정돈🍽</h3>
              <p class="card-text text-center">
                돈카츠의 진또배기 정돈..<br />
                <strong>웨이팅 1시간도 아깝지 않은🤤</strong>..<br />진짜 한번
                먹어보면<br />다른 카츠는 성에 차지 않아요😕<br />요즘은..손님이
                좀 줄었을려나요?🙄 <br /><strong>얼렁 달려가쇼</strong>❗❕
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
